/*
* ------------------------------------
*    Countdown
* ------------------------------------
*/
#countdown {
    display: inline-block;
    margin-top: -50%;
    position: relative;
    bottom: -10%;
    font-size: 200%;
    font-weight: 400;
    color: #FE07E8;
}