@import '_mixins.scss';

/*
* ------------------------------------
*    Hall of fame
* ------------------------------------
*/
$gold-1: #FFD200;
$gold-2: #F7971E;
$silver-1: #bdc3c7;
$silver-2: #2c3e50;
$bronze-1: #eea849;
$bronze-2: #f46b45;
$border-width: 4px;

@mixin shadow-effect {
    box-shadow: 1px 5px 30px -4px rgba(0,0,0,1);
}

@keyframes pulse {
  from { box-shadow: 1px 1px 30px -1px rgba(0,0,0,1) }
  50% { box-shadow: 1px 1px 50px -1px rgba(255,255,255,0.5) }
  to { box-shadow: 1px 1px 30px -1px rgba(0,0,0,1) }
}
@keyframes pulseBackground {
  from { opacity: 0.6; }
  50% { opacity: 1; }
  to { opacity: 0.6; }
}

.hall-of-fame {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 30px 0;
    text-align: center;
    @include radial-gradient(circle, at top center, rgb(132, 1, 159), rgba(0,0,0,0.1));

    ul {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        width: 65%;
        height: 75%;
        list-style-type: none;
    }
    li {
        position: relative;
        box-sizing: border-box;
        flex: 1;
        flex-basis: 28.29%;
        height: 80%;
        margin: auto;
        margin-right: 5%;
        text-align: center;
        font-size: 100%;
        border-width: $border-width;
        background-color: rgba(0,0,0,0.75);

        @include shadow-effect();

        .trianglify {
            position: absolute;
            z-index: 1;
            opacity: 0.8;
            left: 0;
            top: 0;
            width: 101%;
            height: 101%;
            -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
        }

        .content {
            position: relative;
            z-index: 2;
            height: 100%;
            display: flex;
            flex-flow: column nowrap;

            * {
                flex: 1;
                margin-bottom: 1px;
                display: inline-block;
                vertical-align: middle;
            }
            h2 {
                flex: 1 0;
                font-size: 350%;
                font-weight: 300;
                padding: 50px 0 30px 0;
                color: #fff;
            }
            img {
                flex: 2 100%;
                width: 45%;
                height: auto;
                margin: 0 auto;
            }
            .number {
                flex: 1 20%;
                padding: 0 0 40px 0;
                font-size: 600%;
                font-style: italic;
                line-height: 90%;
            }
            em {
                flex: 1 0;
                padding: 15px;
                margin: 0;
                width: 100%;
                box-sizing: border-box;
                align-self: flex-end;
                font-size: 110%;
                font-weight: 400;
            }
        }
    }
    li:last-child {
        margin: 0;
    }
    li:after {
        content: "";
        display: block;
        position: absolute;
        left: -5%;
        top: -3%;
        width: 110%;
        height: 106%;
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.1);
        border: 6px solid rgba(255,255,255,0.1);
        border-radius: 15px;
    }

    // Award coloring (gold, silver, bronze)
    .color-1 { // Gold
        order: 2;
        @include border-gradient($gold-1, $gold-2);
        color: $gold-2;

        -webkit-animation-name: pulse;
        -webkit-animation-duration: 2s;
        -webkit-animation-iteration-count: infinite;

        .trianglify {
            -webkit-animation-name: pulseBackground;
            -webkit-animation-duration: 2s;
            -webkit-animation-iteration-count: infinite;
        }

        .content {
            img {
                width: 70%;
            }
            em {
                padding: 8px 15px;
                padding-bottom: 8px - $border-width;
                background-color: $gold-2;
                color: #000;
            }
        }
    }
    .color-2 { // Silver
        order: 1;
        @include border-gradient($silver-1, $silver-2);
        color: $silver-1;
    }
    .color-3 { // Bronze
        order: 3;
        @include border-gradient($bronze-1, $bronze-2);
        color: $bronze-1;
    }
}
.hall-of-fame:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background: url('../img/orange-pink-triangles.jpg') no-repeat 0 0;
    // background-size: 100% 100%;
    @include vendor-prefix('opacity', '0.5');
}