@import '_mixins.scss';

/*
* ------------------------------------
*    Hall of fame
* ------------------------------------
*/
$gold-1: #F7971E;
$gold-2: #FFD200;
$silver-1: #bdc3c7;
$silver-2: #2c3e50;
$bronze-1: #f46b45;
$bronze-2: #eea849;

@mixin plastic-effect {
    box-shadow: inset 1px 1px 2px rgba(255,255,255,0.3),
                inset 3px 15px 45px rgba(255,255,255,0.1),
                inset -1px -1px 2px rgba(0,0,0,0.5),
                inset -3px -15px 45px rgba(0,0,0,0.2),
                1px 5px 30px -4px rgba(0,0,0,1);
}

.hall-of-fame {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding: 30px 0;
    text-align: center;
    // background: #555 linear-gradient(to left top, #222, transparent) fixed;

    h2 {
        font-size: 250%;
        padding: 0 0 10px 0;
    }

    ul {
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        width: 80%;
        height: 80%;
        list-style-type: none;
    }
    li {
        position: relative;
        box-sizing: border-box;
        flex: 1;
        flex-basis: 28.29%;
        height: 80%;
        margin: auto;
        margin-right: 5%;
        padding: 20px 0;
        text-align: center;

        font-size: 100%;
        background: rgba(0,0,0,0.2);
        border-width: 5px;

        @include plastic-effect();

        img {
            width: 70%;
            height: auto;
        }
    }
    li:last-child {
        margin: 0;
    }
    li:after {
        content: "";
        display: block;
        padding-top: 100%;  /* ratio of 1:1 */
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 10%;
    }

    .number {
        display: block;
        padding-bottom: 10px;
        font-size: 400%;
        line-height: 90%;
        color: #fff;
    }

    // Award coloring (gold, silver, bronze)
    .color-1 { // Gold
        @include border-gradient($gold-1, $gold-2);
        color: $gold-2;
    }
    .color-2 { // Silver
        @include border-gradient($silver-1, $silver-2);
        color: $silver-1;
    }
    .color-3 { // Bronze
        @include border-gradient($bronze-1, $bronze-2);
        color: $bronze-1;
    }
}
.hall-of-fame:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // background: url('../img/orange-pink-triangles.jpg') no-repeat 0 0;
    // background-size: 100% 100%;
    @include vendor-prefix('opacity', '0.5');
}