@import '_mixins.scss';

/*
* ------------------------------------
*    Random bonus
* ------------------------------------
*/

// Variables
$box-size: 200px;
$box-color: pink;
$box-edges-color: red;


.random-bonus {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 25px;
    text-align: center;

    h1 {
        width: auto;
        margin: 0 auto;
    }

    .container {
        perspective: 900;
        perspective-origin: 50% -#{$box-size * 1.5};
    }

    .box {
        width: $box-size;
        height: $box-size;
        position: relative;
        margin: 100px auto;
        @include vendor-prefix('transform-style','preserve-3d');
        @include vendor-prefix('transform', 'rotateY(60deg)');
    }
    .box:hover {
        @include vendor-prefix('animation', 'spin 2s cubic-bezier(1.000, 0.005, 0.520, 1.000) infinite');
        @include vendor-prefix('animation-fill-mode', 'forwards');
    }

    .side {
        width: $box-size;
        height: $box-size;
        background: $box-color;
        border: 1px solid $box-edges-color;
        position: absolute;
        border-radius: $box-size / 10;
    }

    .side-1 {
        width: $box-size;
        height: $box-size;
        position: absolute;
        @include vendor-prefix('transform', 'rotateX(90deg) translateZ(#{$box-size / 2})');
        @include vendor-prefix('transform-style', 'preserve-3d');
    }

    .side-2 {
        line-height: 30px;
        font-size:14px;
        text-align:center;
        @include vendor-prefix('transform', 'translateZ(#{$box-size / 2})');
    }

    .side-3 {
        @include vendor-prefix('transform', 'rotateY(90deg) translateZ(#{$box-size / 2})');
    }

    .side-4 {
        @include vendor-prefix('transform', 'rotateX(-90deg) rotate(180deg) translateZ(#{$box-size / 2})');
    }

    .side-5 {
        @include vendor-prefix('transform', 'rotateY(180deg) translateZ(#{$box-size / 2})');
    }

    .side-6 {
        @include vendor-prefix('transform', 'rotateY(-90deg) translateZ(#{$box-size / 2})');
    }

    .inner-side {
        @include vendor-prefix('transition', '0.8s 1.5s all cubic-bezier(1.000, 0.005, 0.520, 1.000)');
    }

    .flap-1, .flap-2 {
        width: $box-size;
        height: $box-size / 2;
    }

    .flap-1 {
        top: $box-size / 2;
        @include vendor-prefix('transform-origin', '0px #{$box-size / 2}');
    }
    .flap-2 {
        @include vendor-prefix('transform-origin', '#{$box-size} 0px');
    }

    .box:hover .flap-1 {
        @include vendor-prefix('transform', 'rotateX(-120deg)');
    }
    .box:hover .flap-2 {
        @include vendor-prefix('transform', 'rotateX(120deg)');
    }

    @include keyframes (spin) {
        to {
            @include vendor-prefix('transform', 'rotateY(420deg)');
        }
    }
}